site_name: Les pages du Prof Geek

theme:
  name: material
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.top
    - content.code.copy
    - content.tabs.link

nav:
  - Accueil: index.md
  - Blog: blog/index.md

plugins:
  - search
  - tags
  - blog:
      blog_dir: blog
      post_dir: blog/posts
      archive: true
      categories: true

markdown_extensions:
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.superfences
  - attr_list
  - md_in_html
  - pymdownx.tabbed:
      alternate_style: true

extra_javascript:
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
